In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-macosx_11_0_arm64.whl.metadata (89 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.2.2-cp311-cp311-macosx_14_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/amiteshbhattacharya/PycharmProjects/data-engineering-zoomcamp-2025/.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/amiteshbhattacharya/PycharmProjects/data-engineering-zoomcamp-2025/.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp311-cp311-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 28.6 MB/s eta 0:00:00 MB/s eta 0:00:01
Downloading numpy-2.2.2-cp311-cp311-macosx_14_0_arm64.whl (5.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.4/5.4 MB 25.7 MB/s eta 0:00:00
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.2 pandas-2.2.3 pytz-2024.2 tzdata-2025.1
Note: you may need to restart the kernel to use updated packages.

In [41]:
import pandas as pd

In [42]:
pd.__version__

'2.2.3'

In [13]:
df = pd.read_csv("yellow_tripdata_2021-01.csv" , nrows=100)

In [20]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [21]:
df.tpep_pickup_datetime    = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime   = pd.to_datetime(df.tpep_dropoff_datetime)

In [34]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/amiteshbhattacharya/PycharmProjects/data-engineering-zoomcamp-2025/.venv/lib/python3.11/site-packages (2.0.37)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/amiteshbhattacharya/PycharmProjects/data-engineering-zoomcamp-2025/.venv/lib/python3.11/site-packages (from sqlalchemy) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

In [43]:
from sqlalchemy import *

In [50]:
engine = create_engine('postgresql://admin:admin@localhost:5432/ny_taxi')

In [51]:
engine.connect()

In [54]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [58]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv" , iterator=True , chunksize= 100000)

In [60]:
df = next(df_iter)

In [64]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [65]:
df.tpep_pickup_datetime    = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime   = pd.to_datetime(df.tpep_dropoff_datetime)

In [67]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine , if_exists='replace')

0

In [68]:
%time df.to_sql(name='yellow_taxi_data', con=engine , if_exists='append')

CPU times: user 4.17 s, sys: 283 ms, total: 4.45 s
Wall time: 7.58 s

1000

In [69]:
from time import time

In [70]:
while True:
    t_start = time()
    df = next(df_iter)
    
    df.tpep_pickup_datetime    = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime   = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine , if_exists='append')

    t_end = time()

    print('inserted another chunk..., took %.3f second' % ( t_end - t_start))

inserted another chunk..., took 7.759 second
inserted another chunk..., took 8.654 second
inserted another chunk..., took 7.848 second
inserted another chunk..., took 8.680 second
inserted another chunk..., took 8.783 second
inserted another chunk..., took 10.475 second
inserted another chunk..., took 19.679 second
inserted another chunk..., took 10.040 second
inserted another chunk..., took 10.177 second
inserted another chunk..., took 12.338 second
inserted another chunk..., took 9.744 second

/var/folders/fg/zx82k_1x1fd9gjllt8v351v40000gn/T/ipykernel_33655/1822853844.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 7.523 second
inserted another chunk..., took 5.419 second

StopIteration: